set default-fg                "#{{ foreground_color }}"
set default-bg 			      "#{{ background_color }}"

set completion-bg		      "#{{ black_color }}"
set completion-fg		      "#{{ foreground_color }}"
set completion-highlight-bg	  "#{{ alt_black_color }}"
set completion-highlight-fg	  "#{{ foreground_color }}"
set completion-group-bg		  "#{{ black_color }}"
set completion-group-fg		  "#{{ blue_color }}"

set statusbar-fg		      "#{{ foreground_color }}"
set statusbar-bg		      "#{{ black_color }}"

set notification-bg		      "#{{ black_color }}"
set notification-fg		      "#{{ foreground_color }}"
set notification-error-bg	  "#{{ black_color }}"
set notification-error-fg	  "#{{ red_color }}"
set notification-warning-bg	  "#{{ black_color }}"
set notification-warning-fg	  "#{{ yellow_color }}"

set inputbar-fg			      "#{{ foreground_color }}"
set inputbar-bg 		      "#{{ black_color }}"

set recolor-lightcolor		  "#{{ background_color }}"
set recolor-darkcolor		  "#{{ foreground_color }}"

set index-fg			      "#{{ foreground_color }}"
set index-bg			      "#{{ background_color }}"
set index-active-fg		      "#{{ foreground_color }}"
set index-active-bg		      "#{{ black_color }}"

set render-loading-bg		  "#{{ background_color }}"
set render-loading-fg		  "#{{ foreground_color }}"

set highlight-color		      "#{{ alt_black_color }}"
set highlight-fg              "#{{ magenta_color }}"
set highlight-active-color	  "#{{ magenta_color }}"
