---

- hosts: all
  tasks:
    - name: get the username
      command: whoami
      register: result
      changed_when: false
    - name: set username as fact
      set_fact:
        local_username: "{{ result.stdout }}"

- hosts: all
  vars_prompt:
    - name: lastfm_username
      prompt: "Enter last.fm username (leave blank for none)"
      private: no
      default: "none"
    - name: lastfm_session_key
      prompt: "Enter last.fm session key (leave blank for none)"
      default: "none"

  roles:
    - { role: media }
    - { role: sway }
    - { role: nvim }
    - { role: logiops }
    - { role: network }
    - { role: zsh }
    - { role: foot }
    - { role: filesystem }
    - { role: mako }
    - { role: themes }
    - { role: apps }
    - { role: firefox }
