---

- name: install keepassxc
  become: yes
  community.general.pacman:
    name: keepassxc
    state: present

- name: config keepassxc
  block:
    - file:
        path: /home/{{ local_username }}/.config/keepassxc
        state: directory
        mode: 0755
    - file:
        path: /home/{{ local_username }}/.config/keepassxc/keepassxc.ini
        state: touch
        mode: 0644
    - blockinfile:
        path: /home/{{ local_username }}/.config/keepassxc/keepassxc.ini
        block: |
          [FdoSecrets]
          Enabled=true
          
          [GUI]
          ApplicationTheme=classic
          CompactMode=true
          MinimizeOnClose=true
          MinimizeOnStartup=true
          MinimizeToTray=true
          ShowTrayIcon=true
          TrayIconAppearance=colorful

- name: systemd keepassxc
  block:
    - copy:
        dest: /home/{{ local_username }}/.config
        src: systemd
        mode: 0644
        group: "{{ local_username }}"
        owner: "{{ local_username }}"
    - systemd:
        scope: user
        enabled: true
        daemon_reload: true
        name: keepassxc
