---

- name: install zsh 
  become: yes
  community.general.xbps:
    name:
      - zsh
      - zsh-syntax-highlighting
      - zsh-autosuggestions
    state: present

- name: set zsh as default user shell
  become: yes
  user:
    name: "{{ local_username }}"
    shell: /usr/bin/zsh
    state: present

- name: copy zsh config
  copy:
    dest: /home/{{ local_username }}
    src: .zshrc
    mode: 0755
    owner: "{{ local_username }}"
    group: "{{ local_username}}"

- name: create zsh history
  block:
    - file:
        path: /home/{{ local_username }}/.cache
        state: directory
    - file:
        path: /home/{{ local_username }}/.cache/zshistory
        state: touch
        mode: 0755
        group: "{{ local_username }}"
 
- name: install xdg-user-dirs
  become: yes
  community.general.xbps:
    name: xdg-user-dirs
    state: present

- name: update user xdg dirs
  shell:
    cmd: xdg-user-dirs-update
       owner: "{{ local_username }}"
