---

- name: install foot
  become: yes
  community.general.xbps:
    name: foot
    state: present

- name: template foot config
  block:
    - file:
        path: /home/{{ local_username }}/.config/foot
        state: directory
        mode: 0755
    - template:
        dest: /home/{{ local_username }}/.config/foot/foot.ini
        src: foot.ini.j2
        mode: 0644
        owner: "{{ local_username }}"
        group: "{{ local_username }}"

- name: enable foot-server
  lineinfile:
    path: /home/{{ local_username }}/.config/sway/config
    insertafter: '^#AUTOSTART$'
    line: "exec killall foot && foot -s"
