---

- name: gather cpu data
  become: yes
  setup:
    gather_subset: hardware

- name: register xdg dirs
  block:
    - shell:
        cmd: xdg-user-dir MUSIC
      register: XDG_MUSIC
    - shell:
        cmd: xdg-user-dir PICTURES
      register: XDG_PICTURES

- name: install hwdec stuff
  become: yes
  block:
    - name: intel
      community.general.pacman:
        name: 
          - libva-intel-driver
          - intel-gpu-tools
        state: present
      when: "'GenuineIntel' in ansible_processor"
    - name: amd
      community.general.pacman:
        name:
          - radeontop
          - libva-mesa-driver
          - mesa-vdpau
        state: present
      when: "'AMD' in ansible_processor"
    - name: ffmpeg
      community.general.pacman:
        name:
          - ffmpeg
          - libva-utils
          - vdpauinfo
        state: present

- name: install pipewire
  become: yes
  community.general.pacman:
    name:
      - pipewire-audio
      - pipewire-pulse
      - pipewire-jack
      - wireplumber
      - pamixer
    state: present

- name: install mpv
  become: yes
  community.general.pacman:
    name:
      - mpv
      - yt-dlp
    state: present

- name: create mpv config directory and template in
  block:
    - file:
        path: /home/{{ local_username }}/.config/mpv
        state: directory
        mode: 0755
    - template:
        dest: /home/{{ local_username }}/.config/mpv/mpv.conf
        src: mpv.conf.j2
        mode: 0644
        group: "{{ local_username }}"
        owner: "{{ local_username }}"
    - file:
        path: "{{ XDG_PICTURES.stdout }}/mpv-shots"
        state: directory
        mode: 0755


- name: install strawberry
  become: yes
  community.general.pacman: 
    name: strawberry
    state: present

- name: create strawberry config directory and config in
  block:
    - file:
        path: /home/{{ local_username }}/.config/strawberry
        state: directory
        mode: 0755
    - set_fact:
        lastfm_state: "disabled"
      when: lastfm_username == "none"
    - template:
        dest: /home/{{ local_username }}/.config/strawberry/strawberry.conf
        src: strawberry.conf.j2
        mode: 0644
        owner: "{{ local_username }}"
        group: "{{ local_username }}"
  no_log: true
