---

- name: install required packages
  block:
    - community.general.xbps:
        name: 
          - sway
          - upower
          - swaybg
          - jq
          - grim
          - wl-clipboard
          - bemenu
          - slurp
          - seatd
          - noto-fonts-ttf
          - noto-fonts-emoji
          - noto-fonts-cjk
          - noto-fonts-ttf-extra
          - qt6-wayland
          - qt5-wayland
          - brightnessctl
          - wob
          - dbus
          - python3-i3ipc
          - autotiling
        state: present
      become: yes
    - community.general.xbps:
        name: xorg-server-xwayland
      become: yes
      when: xwayland_state == "enabled"

- name: copy zprofile for XDG_RUNTIME_DIR
  copy:
    dest: /home/{{ local_username }}
    src: .zprofile
    mode: 0644
    owner: "{{ local_username }}"
    group: "{{ local_username }}"

- name: copy zshenv for env variables
  copy:
    dest: /home/{{ local_username }}
    src: .zshenv
    mode: 0644
    owner: "{{ local_username }}"
    group: "{{ local_username }}"

- name: seatd configuration
  become: yes
  block:
    - user:
        name: "{{ local_username }}"
        append: true
        groups: _seatd,video
    - file:
        src: /etc/sv/seatd
        path: /var/service/seatd
        state: link
    - community.general.runit:
        name: seatd
        state: started

- name: enable dbus
  become: yes
  block:
    - file:
        src: /etc/sv/dbus
        path: /var/service/dbus
        state: link
    - community.general.runit:
        name: dbus
        state: started

- name: copy config
  block:
    - file:
        dest: /home/{{ local_username }}/.config/sway
        state: directory
        mode: 0755
    - template:
        dest: /home/{{ local_username }}/.config/sway/config
        src: config.j2
        mode: 0644
        owner: "{{ local_username }}"
        group: "{{ local_username }}"
    - copy:
        dest: /home/{{ local_username }}/.config/sway
        src: inactive-windows-transparency.py
        mode: 0644
        owner: "{{ local_username }}"
        group: "{{ local_username }}"

- name: copy wob config and override systemd unit
  template:
    dest: /home/{{ local_username }}/.config/wob.ini
    src: wob.ini.j2
    mode: 0644
    owner: "{{ local_username }}"
    group: "{{ local_username }}"
