[ColorScheme]
active_colors=#ff{{ foreground_color }}, #ff{{ dark_background_color}}, #ff{{ dark_foreground_color }}, #ff{{ darker_foreground_color }}, #ff{{ light_background_color }}, #ff{{ lighter_background_color }}, #ff{{ foreground_color }}, #ff{{ foreground_color }}, #ff{{ foreground_color }}, #ff{{ background_color }}, #ff{{ dark_background_color}}, #ff{{ lighter_background_color }}, #ff{{ blue_color }}, #ff{{ background_color }}, #ff{{ blue_color }}, #ff{{ red_color }}, #ff{{ background_color }}, #ff{{ foreground_color }}, #ff{{ dark_background_color}}, #ff{{ foreground_color }}, #ff{{ dark_foreground_color }}
disabled_colors=#ff{{ dark_foreground_color }}, #ff{{ dark_background_color}}, #ff{{ dark_foreground_color }}, #ff{{ darker_foreground_color }}, #ff{{ light_background_color }}, #ff{{ lighter_background_color }}, #ff{{ dark_foreground_color }}, #ff{{ dark_foreground_color }}, #ff{{ dark_foreground_color }}, #ff{{ background_color }}, #ff{{ dark_background_color}}, #ff{{ lighter_background_color }}, #ff{{ blue_color }}, #ff{{ light_background_color }}, #ff{{ blue_color }}, #ff{{ red_color }}, #ff{{ background_color }}, #ff{{ foreground_color }}, #ff{{ dark_background_color}}, #ff{{ foreground_color }}, #ff{{ dark_foreground_color }}
inactive_colors=#ff{{ foreground_color }}, #ff{{ dark_background_color}}, #ff{{ dark_foreground_color }}, #ff{{ darker_foreground_color }}, #ff{{ light_background_color }}, #ff{{ lighter_background_color }}, #ff{{ foreground_color }}, #ff{{ foreground_color }}, #ff{{ foreground_color }}, #ff{{ background_color }}, #ff{{ dark_background_color}}, #ff{{ lighter_background_color }}, #ff{{ blue_color }}, #ff{{ darker_foreground_color }}, #ff{{ blue_color }}, #ff{{ red_color }}, #ff{{ background_color }}, #ff{{ foreground_color }}, #ff{{ dark_background_color}}, #ff{{ foreground_color }}, #ff{{ dark_foreground_color }}
