---

- name: install neovim
  become: yes
  community.general.pacman:
    name: neovim
    state: present

- name: install vim-plug
  block:
    - name: ensure autolad folder is present
      file:
        path: /home/{{ local_username }}/.local/share/nvim/site/autoload
        state: directory
        owner: "{{ local_username }}"
        group: "{{ local_username }}"
    - name: download vim-plug
      get_url:
        dest: /home/{{ local_username }}/.local/share/nvim/site/autoload/plug.vim
        url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
        owner: "{{ local_username }}"
        group: "{{ local_username }}"

- name: template config in
  block:
    - file: 
        path: /home/{{ local_username }}/.config/nvim
        state: directory
        mode: 0755
    - template:
        dest: /home/{{ local_username}}/.config/nvim/init.vim
        src: init.vim.j2
        mode: 0644
        owner: "{{ local_username }}"
        group: "{{ local_username }}"
