---

- name: install mako
  become: yes
  community.general.xbps:
    name: mako
    state: present

- name: template config in
  block:
    - file:
        path: /home/{{ local_username }}/.config/mako
        state: directory
        mode: 0755
    - template:
        dest: /home/{{ local_username }}/.config/mako/config
        src: config.j2
        mode: 0644
        group: "{{ local_username }}"
        owner: "{{ local_username }}"

- name: autostart mako
  lineinfile:
    path: /home/{{ local_username }}/.config/sway/config
    insertafter: '^#AUTOSTART$'
    line: "exec killall mako && mako"
